<h2 style="text-align:left; margin-left:40px;">User Profile</h2>
<div class="container">
<div class="row">
  
    <div class="card col-2" style="float:left; margin-left:40px;">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="John" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <p><button>Contact</button></p>
      </div>

      <div class="col-4" style="float:left; margin-left:10%;">
         <h1>Start writting blogs</h1>
         <h3>Week 1 of 8</h3>
         <p>Description: II will Start writing blogs more frequently, will Start writing blogs more frequently</p>
         <h3>Next report due data: 11/11/18</h3>
        </div>
</div>


</div>




